<!-- <div class="card o-card-container" style="width: 20rem;">
  <div class="o-img-container d-flex">

    <img src="../../../assets/img/doctora.jpg"  class="rounded-circle img-fluid img-doctor" alt="img-doctora" style="width: 14rem;margin: auto;">
  </div>
  <div class="card-body">
    <div>

      <h5 class="card-title">Dra. María José Domínguez </h5>
        <p> Especialista en Pediatría</p>
        <p> Cl. 123 #7-60 Edificio Medical Center</p>
    </div>

    <p class="card-text">Hoy: Mar, 11 de sep</p>
    <a href="#" class="btn btn-primary" style="float: right;">PEDIR CITA ></a>
  </div>



</div> -->

<div class=" card container">
  <div class=" row" >
    <div class="col-lg-5 mt-5">
      <div class="o-img-container d-flex">
        <img src="../../../assets/img/doctora.jpg"  class="rounded-circle img-fluid img-doctor" alt="img-doctora" style="width: 7rem;margin: auto;">
      </div>
      <div class="card-body col-sm-12 col-lg-8 col-md-6">
        <div>
          <p class="card-title"> <strong> Dra. María José Domínguez </strong> </p>
            <p> Especialista en Pediatría</p>
            <div class="mt-0">
              <img src="../../../assets/img/estrella.png" class="o-img-estrella" style="width: 1.5rem;" alt="">
              <img src="../../../assets/img/estrella.png" class="o-img-estrella" style="width: 1.5rem;" alt="">
              <img src="../../../assets/img/estrella.png" class="o-img-estrella" style="width: 1.5rem;" alt="">
              <img src="../../../assets/img/estrella.png" class="o-img-estrella" style="width: 1.5rem;" alt="">
              <img src="../../../assets/img/estrella.png" class="o-img-estrella" style="width: 1.5rem;" alt="">


            </div>
            <div>
              <img src="../../../assets/img/marcador-de-posicion.png" style="width: 1rem;" alt="">
              <span> Cl. 123 #7-60 Edificio Medical Center</span>
              </div>
          </div>
        </div>

      </div>
      <div class="col-lg-7 mt-5 o-container-right">
        <div>
          <p>
            <strong>Perfil profesional</strong> <br>

            El doctor Juan Pablo Riveros tiene más de 25 años de experiencia como Cardiólogo e Internista, su énfasis ha sido la prevención y el tratamiento de todo tipo de enfermedades cardiovasculares y metabólicas como la diabetes, el sobrepeso y los factores de riesgo asociados

          </p>
        </div>

        <div class="mt-3">
          <div class="mt-3  "><br>
            <div>

              <strong>Especialidades</strong> <br>
            </div>
            <div class=" d-flex o-espicialidades">

              <button class="btn btn-secondary " style="margin-right:1rem;"> Cirugía cardiovascular</button>
              <button class="btn btn-secondary " style="margin-right:1rem;"> Electrocardiograma </button>
              <button class="btn btn-secondary" style="margin-right:1rem;"> Hipertensión </button>
              <button class="btn btn-secondary" style="margin-right:1rem;"> Insuficiencia cardíaca</button>
            </div>

          </div>
        </div>

      </div>
      <div class="border-top o-container-button row">
        <div class="col d-flex justify-content-between mt-4 mb-2">
        <div>
         <img src="../../../assets/img/reloj-de-pared.png" alt="" style="width: 1rem;"> <span class="card-text"> Disponible hoy: Mar, 11 de sep</span>
        </div>
          <div class="o-container-button-time"><a href="#" class="btn btn-primary" ><span> PEDIR CITA ></span></a></div>
        </div>
      </div>

  </div>
</div>
