.img-doctor{
  display: flex;
  margin: 0 auto;
  object-fit: cover;
}
.o-card-container{
    display: flex;
    justify-content: center;
}
.o-img-container{
  display: flex;
}
.o-container-button{
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.o-img-estrella{
  background-image: repeat;
  width: 2rem;
}

.o-container-right{
  display: block;
}
@media only screen and (max-width: 320px) {
  .o-container-right {
    display: none;
  }
}
.o-especialidad{
color: blue;
box-shadow: blue;
}



